h1 {font-size:1rem;}



@media (max-width: 1200px ) {
    h1 {font-size:4rem;}
    h2 {font-size:3rem;}
    .form-control {
        width: 100%;
        height: 5rem;
    }
    .form-group  { font-size: 2.5rem;}
    .btn-primary {
        font-size: 40pt;
    }
    ::placeholder {
        font-size: 2rem;
    }
}


@media (min-width: 1200px) {
    h1 {font-size:3rem; }
}

